# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Virtual environments
venv/
.env/
.envrc
*.env

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# Model files and large data


models/
*.safetensors
*.pt
*.pth
*.ckpt

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Token and secrets
*.txt
!README.md
!requirements.txt
token.txt
